{% extends "Grandverse/layout.html" %}
{% block main-body %}{% load grandverse_user %}
{% user_sidebar request user user.profile 0 True %}
<div class="main-column" id="help">
<div class="post-list-outline">
    <h2 class="label">Server stats</h2>
    <div id="guide" class="help-content">
      <div class="faq">
        <p>Connect to Social Media!</p>
		<ul>
		<h1>Connect to Social Media to add friends
		<li>Invite your friends from Twitter and Facebook</li>
		<h1>Beta Testers
		<li>These were users who helped beta test Grandverse!
      </div>
    </div>
  </div>
</div>
{% endblock %}
